*{
    font-family: Helvetica, Arial, sans-serif;
}
    body {
        text-align: center;
}

   
    h1 {
        color: SeaGreen;
        text-align: center;
}
   
   
    #one{
        font-size: 18px;
        color: rgb(3, 160, 74);
}

    #message{
        font-family: 'Times New Roman';
        color: rgb(255, 0, 140);
        font-size: 30px;
}